@page "/"
@using ECommerce.Core.Enums
@using ECommerce.Blazor.Components

<PageTitle>Home</PageTitle>

<div class="hero">

    <div class="hero-content">

        <h1>Discover Amazing Products</h1>

        <p>
            Shop the latest trends with unbeatable prices.
        </p>

        <button class="hero-btn">
            Shop Now
        </button>

    </div>

</div>

<ProductSectionSlider Category="@Category.Sports"
                      Title="For Sport Enthusiasts"
                      Subtitle="Buy the best sport products" 
                      ProductCount=4/>

<ProductSectionSlider Category="@Category.Electronics"
                      Title="New Arrivals"
                      Subtitle="Browse the latest gadgets"
                      ProductCount=4 />

<ProductSectionSlider Category="@Category.Home"
                      Title="Recommended For You"
                      Subtitle="Best for your home"
                      ProductCount=4 />